body {
  background-color: #262626;
	color: white;
}

.anybutton {
  /*top:11%;*/
  left: 35px;
  width: 60px;
  height: 20px;
  position: relative;
  z-index: 2;
  background: rgb(156, 76, 0); 
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsibleList {
  display: grid;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
}

.draggableProject {
  border: 3px solid #666;
  background-color: #ddd;
  color:rgb(0, 0, 0);
  border-radius: .5em;
  padding: 10px;
  cursor: move;
  display: inline;
  width: 200px;
  /*justify-content: space-between;*/
}