body {
  background-color: #262626;
	color: white;
}

#Bazinga
{
	outline-style: outset;
	outline-color: black;
}
#Bazinga2
{
	outline-style: inset;
	outline-color: black;
}
#Bazinga3
{
	outline-style: inset;
	outline-color: black;
}

.tableRow:hover
{
	background-color: #555;
}

.anybutton {
  top:11%;
  left:55%;
  width:100px;
  height:40px;
  position: absolute;
  z-index: 2;
  background: orange; 
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.projectListing {
  background-color: rgb(79, 0, 0);
  color: white;
  padding: 10px;
  /*width: 100%;*/
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /*gap: 10px;*/
}

.box {
  border: 3px solid #666;
  background-color: #ddd;
  color:rgb(0, 0, 0);
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}